<div class="container mt-2">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="keyWordSearch" {{#if admin}}placeholder="key word search"{{else}}placeholder="输入SP箱码或任何关键字"{{/if}}>
            </div>
        </div>
        <div class="col-md-auto">
            <button onclick="searchBtn()" class="btn btn-primary mb-2">{{#if admin}}Search{{else}}查询{{/if}}</button>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="lead text-center" id="statmentHeader" onclick="statementFormation({{admin}})"><a uk-icon="bookmark" uk-tooltip="The summary generator is limited for a complete sp box # only"></a>{{#if admin}}Search Summary: {{else}}资料整合报告{{/if}}</div>
            <div id="statementBody" class="container border border-success p-2 rounded shadow-sm" style="display: none;"></div>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Inventory Queue{{else}}1. 入库/库存纪录{{/if}}</div>
            <ul uk-accordion="multiple: true">
                {{#each amInvenotoryRecord as |record|}}
                    {{> record_content_inv record }}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Request Queue{{else}}2. 出库通知纪录{{/if}}</div>
            <ul uk-accordion="multiple: true">
                {{#each requestRecords as |record|}}
                    {{> record_content_general record }}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Handling Queue{{else}}3. 管理员处理纪录{{/if}}</div>
            <ul uk-accordion="multiple: true">
                {{#each handleRecords as |record|}}
                    {{> record_content_general record }}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Client Confirmation{{else}}4. 客户确认纪录{{/if}}</div>
            <ul uk-accordion="multiple: true">
                {{#each initialConfirmRecords as |record|}}
                    {{> record_content_general record }}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Admin Confirmation{{else}}5. 管理员确认纪录{{/if}}</div>
                 <ul uk-accordion="multiple: true">
                    {{#each finalConfirmRecords as |record|}}
                        {{> record_content_general record }}
                    {{/each}}
                 </ul>
        </div>
       <div class="col-md-2">
            <div class="lead">{{#if admin}}Label Change{{else}}<span>标签服务纪录</span>{{/if}}</div>
                 <ul uk-accordion="multiple: true">
                    {{#each xcRecords as |record|}}
                        {{> record_content_general record }}
                    {{/each}}
                 </ul>
        </div>
    </div>
</div>

<script src="javascript/records_LandingPage.js"></script>
