<div class="container mt-2">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="keyWordSearch" {{#if admin}}placeholder="key word search"{{else}}placeholder="输入SP箱码"{{/if}}>
            </div>
        </div>
        <div class="col-md-auto">
            <button onclick="searchBtn()" class="btn btn-primary mb-2">{{#if admin}}Search{{else}}查询{{/if}}</button>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="lead text-center" id="statmentHeader" onclick="statementFormation({{admin}})"><a uk-icon="bookmark" uk-tooltip="The summary generator is limited for a complete sp box # only"></a>{{#if admin}}Search Summary: {{else}}资料整合报告{{/if}}</div>
            <div id="statementBody" class="container border border-success p-2 rounded shadow-sm" style="display: none;"></div>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Inventory Queue{{else}}1. 入库/库存纪录{{/if}}</div>
            <ul uk-accordion="multiple: true">
                {{#each invenotoryRecord_groomed as |record|}}
                    {{> record_content_inv record }}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Request Queue{{else}}2. 出库通知纪录{{/if}}</div>
            <ul uk-accordion="multiple: true">
                {{#each requestRecords_groomed as |record|}}
                    {{> record_content_general record }}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Handling Queue{{else}}3. 管理员处理纪录{{/if}}</div>
            <ul uk-accordion="multiple: true">
                {{#each handleRecords_groomed as |record|}}
                    {{> record_content_general record }}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Client Confirmation{{else}}4. 客户确认纪录{{/if}}</div>
            <ul uk-accordion="multiple: true">
                {{#each initialConfirmRecords as |record|}}
                    {{> record_content_general record }}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="lead">{{#if admin}}Admin Confirmation{{else}}5. 管理员确认纪录{{/if}}</div>
                 <ul uk-accordion="multiple: true">
                    {{#each finalConfirmRecords as |record|}}
                        {{> record_content_general record }}
                    {{/each}}
                 </ul>
        </div>
       <div class="col-md-2">
            <div class="lead">{{#if admin}}Label Change{{else}}<span>标签服务纪录</span>{{/if}}</div>
                 <ul uk-accordion="multiple: true">
                    {{#each xcRecords as |record|}}
                        {{> record_content_general record }}
                    {{/each}}
                 </ul>
        </div>
    </div>
</div>
<div class="container mt-2" style="display: none">
    <div class="row">
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{#if admin}}Inventory Queue{{else}}1. 入库/库存纪录{{/if}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each inventoryRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
            <div id="invQM">
                {{#each inventoryRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{#if admin}}Request Queue{{else}}2. 出库通知纪录{{/if}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each requestRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
            <div id="reqQM">
                {{#each requestRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead class="border border-warning">
                    <tr>
                        <th></th>
                        <th>{{#if admin}}Handling Queue{{else}}3. 管理员处理纪录{{/if}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each handleRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
             <div id="hanQM">
                {{#each handleRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{#if admin}}Client Confirmation{{else}}4. 客户确认纪录{{/if}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each initialConfirmRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
             <div id="incQM">
                {{#each initialConfirmRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{#if admin}}Admin Confirmation{{else}}5. 管理员确认纪录{{/if}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each finalConfirmRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
            </table>
             <div id="ficQM">
                {{#each finalConfirmRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
        </div>
        <div class="col-md-2">
            <table class="table table-hover shadow-sm table-striped">
                <thead class="border border-info">
                    <tr>
                        <th></th>
                        <th>{{#if admin}}Label Change{{else}}<span>标签服务纪录</span>{{/if}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each xcRecords as |record|}}
                        {{> record_content record }}
                    {{/each}}
                </tbody>
                <div id="xccQM">
                {{#each xcRecords as |modal|}}
                        {{> record_content_modal modal }}
                {{/each}}
            </div>
            </table>
        </div>
    </div>
</div>

<script src="javascript/records_LandingPage.js"></script>
